
<nz-card [nzTitle]=" titleTemplate" style="width:100%;border: 1px solid #2fa4e7; height: 100%;" [nzExtra]="extraTemplate"
    [nzBodyStyle]="bodystyle" (drop)="f_ondrop($event,config)" (dragover)="f_ondragover($event,config)">
    <!-- <ng-container *ngIf="!config.container">
        <p>当前列内可填充具体组件内容</p>
    </ng-container> -->

    <ng-container *ngIf="!config.container">
        <cfg-form-item [config] = "config" [formState]="formState"></cfg-form-item>
    </ng-container>
  <ng-container *ngFor="let r of rows">
    <cfg-form-layout-row [config]="r" (updateValue)="valueChangeRow($event)" [formState]="form_State"></cfg-form-layout-row>
  </ng-container>
    <ng-container *ngIf="config.container==='component'">
        <cfg-form-item [config] = "config" [formState]="formState"></cfg-form-item>
    </ng-container>
   

</nz-card>
<ng-template #titleTemplate>
    <span>{{config.title}}</span>
</ng-template>
<ng-template #extraTemplate>
    <!-- -->
    <button id="dragCol" nz-button [nzSize]="'small'" nzTitle="移动列" nz-tooltip [draggable]="is_drag" (dragstart)="f_ondragstart($event,config)"
        (click)="dragCol()">
        <i nz-icon type="drag"></i>
    </button>
    <button nz-button [nzSize]="'small'" nzTitle="列的栅格宽度设置" nz-tooltip (click)="open()">
        <i nz-icon type="diff"></i>
    </button>
    <button nz-button [nzSize]="'small'" nzTitle="设置列" nz-tooltip >
        <i nz-icon type="setting"></i>
    </button>
    <button nz-button [nzSize]="'small'" nzTitle="删除列" nz-tooltip (click)="delCol()">
        <i nz-icon type="delete"></i>
    </button>
    <button nz-button [nzSize]="'small'" nzTitle="新增行" nz-tooltip (click)="addRow()">
        <i nz-icon type="plus"></i>
    </button>
</ng-template>


<nz-modal [(nzVisible)]="size_isVisible" nzTitle="栅格宽度设置" (nzOnCancel)="size_handleCancel($event)" (nzOnOk)="size_handleOk($event)">
    <nz-row>
        <nz-col nzSpan="6">
                栅格占位格数nzSpan:
        </nz-col>
        <nz-col nzSpan="12">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="config.span"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="6">
            <nz-input-number [nzMin]="1" [nzMax]="24" [ngStyle]="{ marginLeft: '16px' }" [(ngModel)]="config.span"></nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="6">
                <code>&lt;576px nzXs:</code>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="config.size.nzXs"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="6">
            <nz-input-number [nzMin]="1" [nzMax]="24" [ngStyle]="{ marginLeft: '16px' }" [(ngModel)]="config.size.nzXs"></nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="6">
                <code>≥576px nzSm:</code>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="config.size.nzSm"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="6">
            <nz-input-number [nzMin]="1" [nzMax]="24" [ngStyle]="{ marginLeft: '16px' }" [(ngModel)]="config.size.nzSm"></nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="6">
                <code>≥768px nzMd:</code>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="config.size.nzMd"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="6">
            <nz-input-number [nzMin]="1" [nzMax]="24" [ngStyle]="{ marginLeft: '16px' }" [(ngModel)]="config.size.nzMd"></nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="6">
                <code>≥992px  nzLg:</code>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="config.size.nzLg"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="6">
            <nz-input-number [nzMin]="1" [nzMax]="24" [ngStyle]="{ marginLeft: '16px' }" [(ngModel)]="config.size.nzLg"></nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="6">
                <code>≥1200px  ngXl:</code>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="config.size.ngXl"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="6">
            <nz-input-number [nzMin]="1" [nzMax]="24" [ngStyle]="{ marginLeft: '16px' }" [(ngModel)]="config.size.ngXl"></nz-input-number>
        </div>
    </nz-row>
    <nz-row>
            <nz-col nzSpan="6">
                    <code>≥1600px nzXXl:</code>
            </nz-col>
            <nz-col nzSpan="12">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="config.size.nzXXl"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="6">
                <nz-input-number [nzMin]="1" [nzMax]="24" [ngStyle]="{ marginLeft: '16px' }" [(ngModel)]="config.size.nzXXl"></nz-input-number>
            </div>
        </nz-row>
</nz-modal>
