<!-- <h1>CnDataTable</h1>
<div nz-button-group>
  <button nz-button (click)="selectRow($event)">Click SelectRow</button>
  <button nz-button (click)="executeCheckedRows($event)">Click ChechedRows</button>
</div>-->

<nz-table #dataTable [nzLoading]="false" [nzShowSizeChanger]="config.isShowSizeChanger"
  [nzFrontPagination]="config.isFrontPagination" [nzShowPagination]="config.isPagination" [nzTotal]="total"
  [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)" [nzPageSizeOptions]="config.pageSizeOptions" [nzData]="dataList"
  [nzShowTotal]="showTotal" [nzBordered]="config.isBordered" [nzSize]="config.size"
  [nzTitle]="config.title ? title : null" [nzScroll]="config.scroll ? config.scroll : null"
  [nzWidthConfig]="config.spanWidthConfig ? config.spanWidthConfig : null">
  <thead (nzSortChange)="sort($event)" nzSingleSort="true">
    <!-- 夸列表头 -->
    <ng-template ngFor let-spans let-i="index" [ngForOf]="config.spanHeader"
      *ngIf="config.spanHeader; else normalHeader">
      <tr>
        <th *ngIf="i === 0" attr.rowspan="{{ config.spanHeader.length }}" [nzWidth]="'50px'" [nzShowCheckbox]="true"
          [(nzChecked)]="isAllChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <ng-template ngFor let-span [ngForOf]="spans">
          <ng-container [ngSwitch]="span.spanType">
            <th *ngSwitchCase="'row'" attr.rowspan="{{ span.span }}">{{ span.title }}</th>
            <th *ngSwitchCase="'col'" attr.colspan="{{ span.span }}">{{ span.title }}</th>
            <th *ngSwitchDefault>{{ span.title }}</th>
          </ng-container>
        </ng-template>
      </tr>
    </ng-template>
    <!-- 夸列表头 -->

    <!-- 常规表头 -->
    <ng-template #normalHeader>
      <tr>
        <th nzWidth="50px" nzShowCheckbox="true" [(nzChecked)]="isAllChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <ng-template ngFor let-header [ngForOf]="tableColumns">
          <th style="text-align: center" [nzWidth]="header.width" *ngIf="!header.hidden" nzShowSort
            [nzSortKey]="header.field">
            {{ header.title }}
          </th>
        </ng-template>
      </tr>
    </ng-template>
    <!-- 常规表头 -->
  </thead>
  <tbody>
    <ng-container *ngFor="let rowData of dataTable.data">
      <ng-container *ngFor="let item of mapOfDataExpanded[rowData[KEY_ID]]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent" (click)="setSelectRow(item.data, $event)"
          [ngClass]="{ selectedRow: item['selected'], validationError:  !item['validation']}">
          <td nzShowCheckbox="true" [(nzChecked)]="item['checked']" (nzCheckedChange)="dataCheckedStatusChange()">
          </td>
          <ng-template ngFor let-col [ngForOf]="tableColumns">
            <ng-container [ngSwitch]="col.type" *ngIf="!col.hidden">
              <ng-container *ngSwitchCase="'field'">
                <ng-container [ngSwitch]="item['state']">

                    <ng-container *ngIf="col.expand">
                        <td *ngSwitchCase="'new'" [nzIndentSize]="item.level * 20 "
                        [nzShowExpand]="!!item.children && col.expand" [(nzExpand)]="item.expand"
                        (nzExpandChange)="expandRow(item[KEY_ID], item, $event)">
                          <ng-container CnGridItemDirective *ngIf="col.editor ; else text" [state]="'new'" [config]="col.editor"
                          [valueConfig]="{'id':rowData[KEY_ID],'value':mapOfDataState[rowData[KEY_ID]]['data'][col.editor.field]}"
                          (updateValue)="valueChange($event)"  [formCascade]="formCascade[rowData[KEY_ID]]?formCascade[rowData[KEY_ID]][col.editor.field]:null"> </ng-container>
      
                        </td>
                      <td *ngSwitchCase="'edit'" [nzIndentSize]="item.level * 20 "
                        [nzShowExpand]="!!item.children && col.expand" [(nzExpand)]="item.expand"
                        (nzExpandChange)="expandRow(item[item[KEY_ID]], item, $event)">
                   
                        <ng-container CnGridItemDirective *ngIf="col.editor ; else text" [state]="'edit'" [config]="col.editor"
                        [valueConfig]="{'id':rowData[KEY_ID],'value':mapOfDataState[rowData[KEY_ID]]['data'][col.editor.field]}"
                        (updateValue)="valueChange($event)"  [formCascade]="formCascade[rowData[KEY_ID]]?formCascade[rowData[KEY_ID]][col.editor.field]:null"> </ng-container>
    
                      </td>
                      <td  *ngSwitchDefault [nzIndentSize]="item.level * 20  " [nzShowExpand]="!!item.children && col.expand"
                        [(nzExpand)]="item.expand" (nzExpandChange)="expandRow(item, $event)">
                         {{ item['originData'][col.field] }}</td>
                    </ng-container>
                   
                    <ng-container *ngIf="!col.expand">
                        <td *ngSwitchCase="'new'">
                          <ng-container CnGridItemDirective *ngIf="col.editor ; else text" [state]="'new'" [config]="col.editor"
                          [valueConfig]="{'id':rowData[KEY_ID],'value':mapOfDataState[rowData[KEY_ID]]['data'][col.editor.field]}"
                          (updateValue)="valueChange($event)"  [formCascade]="formCascade[rowData[KEY_ID]]?formCascade[rowData[KEY_ID]][col.editor.field]:null"> </ng-container>
      
                        </td>
                      <td *ngSwitchCase="'edit'">
                        <ng-container CnGridItemDirective *ngIf="col.editor ; else text" [state]="'edit'" [config]="col.editor"
                        [valueConfig]="{'id':rowData[KEY_ID],'value':mapOfDataState[rowData[KEY_ID]]['data'][col.editor.field]}"
                        (updateValue)="valueChange($event)"  [formCascade]="formCascade[rowData[KEY_ID]]?formCascade[rowData[KEY_ID]][col.editor.field]:null"> </ng-container>
    
                      </td>
                      <td  *ngSwitchDefault >
                         {{ item['originData'][col.field] }}
                      </td>
                    </ng-container>

                    </ng-container>

               
              </ng-container>
              <ng-template #text>
                  {{ item['originData'][col.field] }}
                </ng-template>
              <ng-container *ngSwitchCase="'action'">
                <td>
                  <ng-template ngFor let-act [ngForOf]="item['actions']">
                    <ng-container [ngSwitch]="act.type">
                      <ng-container *ngSwitchCase="'link'">
                        <a *ngIf="!act.hidden" (click)="rowAction(act, item, $event)"><i nz-icon [nzType]="act.icon"
                            nzTheme="outline"></i> {{ act.text }}</a>
                        <nz-divider nzType="vertical" *ngIf="!act.hidden"></nz-divider>
                      </ng-container>
                      <ng-container *ngSwitchCase="'button'">
                        <button (click)="rowAction(act, item, $event)" nz-button nzSize="act.size"
                          [nzType]="act.color ? act.color : 'default'">
                          <i nz-icon [nzType]="act.icon" nzTheme="outline"></i> {{ act.text }}
                        </button>
                      </ng-container>
                    </ng-container>
                  </ng-template>
                </td>
              </ng-container>
            </ng-container>
          </ng-template>
        </tr>
      </ng-container>
    </ng-container>

  </tbody>
  <tfoot>
    <ng-template #showTotal style="text-align: left">
      <span>
        已选中
        <span class="count" nz-text>
          <code>{{ checkedNumber }}</code>
        </span>
        条记录
      </span>
      共
      <span class="count" nz-text>
        <code>{{ total }}</code>
      </span>
      条记录
    </ng-template>
  </tfoot>
</nz-table>
<ng-template #title> <i nz-icon [nzType]="config.titleIcon" nzTheme="outline"></i> {{ config.title }} </ng-template>
